<h1>글 쓰기</h1>

<form method="POST" th:object="${postWriteForm}">
    <div th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors().stream().sorted()}" th:text="${err.split('-', 2)[1]}"/>
        <!-- 암기: 오류 출력 코드 // err: 보여준다 -->
    </div>

    <label for="title">제목</label>
    <!-- 괄호는 id 값 -->
    <input type="text" placeholder="제목을 입력해주세요" th:field="*{title}">
    <!-- field는 id name value 생성 -->
    <br>
    <label for="content">내용</label>
    <textarea placeholder="내용을 입력해주세요" th:field="*{content}"></textarea>
    <br>
    <button type="submit">글쓰기</button>
</form>